@font-face {
  font-family: "Bluu Next";
  src: url("../src/font/BluuNext-Bold.otf");
}

:root {
  --gold: #aa8855;
  --dark-blue: #10141b;
  --light-blue: #242633;
  --grey: #696b78;
  --light-grey: #9294a0;
  --soft-white: #c8c9d0;
  --transparent-white: #c8c9d013;
  --dark-purple-03: rgba(48, 14, 112, 0.3);
  --dark-purple-05: rgba(48, 14, 112, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue);
  color: var(--soft-white);
  font-family: Arial, sans-serif;
}

/* Header */
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light-blue);
  padding: 10px 25px;
  border-bottom: solid 1px var(--grey);
}

.logo {
  font-family: "Bluu Next";
  background-image: linear-gradient(0deg, var(--gold) 50%, #f5c681 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  letter-spacing: 1px;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: 80px 80px 145px;
}

.content a {
  text-decoration: none;
  width: 100%;
  color: var(--light-grey);
  text-align: center;
  position: relative;
  outline: none;
  transition: 0.5s;
}

.content a + a::before {
  content: url(../src/img/dot.svg);
  transform: translate3d(-50%, -50%, 0);
  width: 10px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 25%;
}

.content a:hover {
  color: var(--soft-white);
}
/* End header */

/* Main movie card */
.mainMovie {
  height: 500px;
  background: linear-gradient(
      90deg,
      rgb(0, 0, 0, 0.8) 30%,
      rgba(0, 0, 0, 0) 80%
    ),
    url(/src/img/fantasticBeastsCover2.jpg);
  background-size: cover;
  background-position-x: 0, 250px;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
}

.mainMovie .container {
  width: 35%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logoMovie {
  background: url(/src/img/logoFBs.png);
  height: 130px;
  background-size: contain;
  background-repeat: no-repeat;
}

.mainMovieDesciption {
  font-size: 12px;
  line-height: 1.7;
  opacity: .8;
}

.buttons{
  display: flex;
}

.buttons .btn{
  border-radius: 8px;
  transition: .5s ease all;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttons .watchlist {
  color: var(--grey);
  background-color: transparent;
  border: 1px solid #696b7844;
  padding: 8px 15px;
  margin-right: 8px;
}

.buttons .watch {
  color:rgb(154, 118, 252);
  background-color: var(--dark-purple-03);
  border: 1px solid var(--dark-purple-05);
  padding: 8px 40px;
}

.buttons .btn i {
  margin-right: 10px;
}


.buttons .watch:hover {
  background-color: var(--dark-purple-05);
  box-shadow: 0 8px 15px var(--dark-purple-03);
}

.buttons .watchlist:hover {
  background-color: var(--transparent-white);
}

/* Carousel */

.carousel-wf {
  margin: 0 20px;
}

.carousel-header {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.carousel-header h2 {
  font-family: "Bluu Next";
  font-size: 35px;
  color: var(--gold)
}

.carousel-header hr {
  flex: 1;
  margin-left: 15px;
  border: .5px solid var(--light-blue);
}

.card-film {
  border-radius: 8px;
}
